page-crewallet {
	.toolbar-background-ios{
		background-color: #35B8C7;
		color:white;
		border:none;
	}
	.header-ios .toolbar-background-ios{
		border:none;
	}
	.bar-button-default-ios{
		color:white;
	}
	.toolbar-title-ios{
		color:white;
	}
	.toolbar-ios {
    padding: 4px;
    padding-left: 4px;
    padding-right: 4px;
    min-height: 50px;
  }
	.warnBox{
		background-color:#F8F8F8;
		height: 85px;
		color:#35B8C7;
		padding-left: 30px;
		padding-top:10px;
		font-size: 12px;
	}
	.warnBox>div>p{
		display: inline-block;
		margin: 0;
		margin-left: 8px;
	}
	.warnBox>div>div{
		display: inline-block;
		width: 4px;
		height: 4px;
		background-color: #35B8C7;
		border-radius: 2px;
		margin-bottom: 2px;
	}
	.inputBox{
		width: 90%;
		height: 40px;
		margin-bottom: 10px;
		border:none;
		border-bottom: 1px solid #C0D6D9;
		margin-left: 20px;
	}
	.check{
		width: 14px;
		height: 14px;
		border-radius: 6px;
		border:1px solid #C0D6D9;
		display: inline-block;
		margin-left: 20px;
	}
	.checkBox>p{
		margin: 0;
		display: inline-block;
	}
	.checkBox>p>span:nth-child(2){
		color:#35B8C7;
		font-size:16px;
		margin-left: 4px;
	}
	.creBtn{
		width: 90%;
		background-color: #35B8C7;
		margin-left: 20px;
		height: 45px;
		margin-top: 10px;
		color:white;
		border-radius: 2px;
	}
	.infoBoxp{
		color:#35B8C7;
		text-align: center;
	}
	.checkRaudio{
		display: inline-block;
		width: 14px;
		height: 14px;
		border-radius: 6px;
		border:1px solid #35B8C7;
		position: relative;
		margin-left: 20px;
	}
	.checkIcon{
		position: absolute;
		bottom:-3px;
		left: 3px;
		color:#35B8C7
	}
	.BanBtn{
		width: 90%;
		background-color: #9fa2a2;
		margin-left: 20px;
		height: 45px;
		margin-top: 10px;
		color:white;
		border-radius: 2px;
	}
	.selectType{
		width: 90%;
	    height: 40px;
	    margin-bottom: 10px;
	    border: none;
	    margin-left: 15px;
	    background: rgba(0,0,0,0);
	    color: #35B8C7;
	    text-align: start;
	}
	.top{
		margin-top: 8px;
	}
	.alert{
	    position: fixed;
	    background-color: rgba(0,0,0,0.3);
	    width: 100%;
	    height: 100%;
	    z-index: 10
	}
	.deleteBox{
      	position: absolute;
     	width: 90%;
     	background-color: white;
     	border-radius: 5px;
      	top:30%;
      	left: 5%;
      	z-index: 999
   }
   .deleteHeader{
      	text-align: center;
      	font-size: 18px;
      	font-weight: 600;
   }
   .sutitle{
      	text-align: center;
      	background: #F0F3F5;
      	color:#596B6D;
      	padding:10px 30px;
    }
    .footButton>button{
      	height: 40px;
      	width: 50%;
      	margin-top: 7%;
      	background-color: rgba(0,0,0,0);
      	color:#35B8C7;
      	font-size:16px;
      	border-top: 1px solid rgba(0,0,0,0.3)

    }
    .footButton>button:nth-child(1){
      	border-right: 1px solid rgba(0,0,0,0.3);
      	border-bottom-left-radius: 5px;
    }
    .footButton>button:nth-child(2){
      	border-bottom-right-radius: 5px;
    }
    .footButton{
     	width: 100%;
      	border:none;
      	display: flex;
    }
    .leftdistance{
    	margin-left: 5px
    }
    @media(max-height: 666px){
    	.creBtn{
    		height:40px;
    	}
		.BanBtn{
			height:40px;
		}
    }
    
}
